.log {
    height: 200px;
    overflow-y: auto;
}

.block-text.red {
    background-color: red;
}

.block-text.green {
    background-color: green;
}

.block-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.controls > * {
    margin: 0.25em;
    width: 100%;
}

h4 {
    margin: 0.25em;
}
